run = ["python", "manage.py", "runserver", "0.0.0.0:3000"]
entrypoint = "manage.py"
modules = ["python-3.10:v18-20230807-322e88b"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"
packages = ["cairo", "cargo", "ffmpeg-full", "freetype", "ghostscript", "gobject-introspection", "gtk3", "libiconv", "libxcrypt", "openssl", "pkg-config", "qhull", "rustc", "tcl", "tk"]

[unitTest]
language = "python3"

[deployment]
run = ["python", "manage.py", "runserver", "0.0.0.0:3000"]
deploymentTarget = "gce"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[agent]
expertMode = true
